<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soft.mapper.RuleMapper" >
  <resultMap id="BaseResultMap" type="com.soft.pojo.Rule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="borrow_num" property="borrowNum" jdbcType="INTEGER" />
    <result column="limit_day" property="limitDay" jdbcType="INTEGER" />
    <result column="borrow_library" property="borrowLibrary" jdbcType="VARCHAR" />
    <result column="overtime_fee" property="overtimeFee" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, borrow_num, limit_day, borrow_library, overtime_fee
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from rules
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from rules
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.soft.pojo.Rule" >
    insert into rules (id, borrow_num, limit_day, 
      borrow_library, overtime_fee)
    values (#{id,jdbcType=INTEGER}, #{borrowNum,jdbcType=INTEGER}, #{limitDay,jdbcType=INTEGER}, 
      #{borrowLibrary,jdbcType=VARCHAR}, #{overtimeFee,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.soft.pojo.Rule" >
    insert into rules
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="borrowNum != null" >
        borrow_num,
      </if>
      <if test="limitDay != null" >
        limit_day,
      </if>
      <if test="borrowLibrary != null" >
        borrow_library,
      </if>
      <if test="overtimeFee != null" >
        overtime_fee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="borrowNum != null" >
        #{borrowNum,jdbcType=INTEGER},
      </if>
      <if test="limitDay != null" >
        #{limitDay,jdbcType=INTEGER},
      </if>
      <if test="borrowLibrary != null" >
        #{borrowLibrary,jdbcType=VARCHAR},
      </if>
      <if test="overtimeFee != null" >
        #{overtimeFee,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soft.pojo.Rule" >
    update rules
    <set >
      <if test="borrowNum != null" >
        borrow_num = #{borrowNum,jdbcType=INTEGER},
      </if>
      <if test="limitDay != null" >
        limit_day = #{limitDay,jdbcType=INTEGER},
      </if>
      <if test="borrowLibrary != null" >
        borrow_library = #{borrowLibrary,jdbcType=VARCHAR},
      </if>
      <if test="overtimeFee != null" >
        overtime_fee = #{overtimeFee,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soft.pojo.Rule" >
    update rules
    set borrow_num = #{borrowNum,jdbcType=INTEGER},
      limit_day = #{limitDay,jdbcType=INTEGER},
      borrow_library = #{borrowLibrary,jdbcType=VARCHAR},
      overtime_fee = #{overtimeFee,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>